@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 8px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #fe420cb8;
      border-radius: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  